body {
    color: #eeeeee;
    background-color: #111111;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
}

a {
    color: rgba(255,255,255,.5);
}
a:hover {
    color: rgba(255,255,255,.75);
}

h1 {
    border-bottom: 2px solid #eeeeee;
}

header {
    height: 100vh;
    min-height: fit-content;
}

header .mainLogo {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

header .mainDescription {
    position: relative;
    bottom: 0;
    margin: 3rem auto 1rem auto;
}

.gradient {
    background-image: linear-gradient(rgb(0,104,61), #111111);
}

#games ul, footer ul, address ul, #complain ul {
    padding: 0;
    list-style-type: none;
}

#games ul li , #complain ul li {
    margin-bottom: 3rem;
}

.center {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer {
    position: relative;
    bottom: 0;
    background-image: linear-gradient(#111111, rgb(0,104,61));
    margin-bottom: 0;
    padding: .75rem 0 .25rem 0;
}

#games h2, #complain h2 {
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    margin-left: .5rem;
}

#games .card {
    display: inline-block;
    border-radius: 3px;
    height: 3rem;
}

#games .gameTitle, #complain .gameTitle  {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 3px;
}

#games .gamePic, #complain .gamePic {
    float:left;
    margin: .5rem 1rem .25rem 0;
    border-radius: 3px;
}

.right {
    float: right;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

#contact {
    margin: 3rem auto;
}

address {
    display:block;
    margin: 1rem auto;
    width: fit-content;
}

#complain {
    background-image: linear-gradient(rgb(0,104,61), #111111);
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem auto;
}

#complain .notice {
    background-color: #cccccc;
    color: #111111;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto 1rem auto;
}

#contact li {
    font-size: 1.25rem;
}

#contact li a {
    color: #eeeeee;
}